body {
  font-family: 'K2D', Arial, Helvetica, sans-serif;
  margin: 0;
  font-size:15px;
  line-height: 1.8;
  font-weight: 300;
}

.panel {
  justify-self: center;
  align-self: center;
}

.fullscreen {
  display: grid;
  width: 100%;
  height: 100%;
}

.red {
  background-color: red;
  color: white;
}

.darkgray {
  background-color: #222;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.gradient {
  background: linear-gradient(to right, #e5e, #75e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  background: white;
  color: #333;
  padding: 10px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.height {
  height: 100px;
}